{% extends 'base.html' %}

{% block title %}
Severstal Notes


{% endblock %}

{% block body %}
<div class="notes">
    <div class="index_note note alert alert-info">
        <div class="text">
            <p align="center"><b>About "Severtal Notes"</b></p>
            <p align="center">These is pretty simple Python-Flask project, </p>
            <p align="center">Bootstrap framework for the frontend and </p>
            <p align="center"> SQlite DB and Summernote editor for making notes. </p>
            <p align="center">P.S. You can find some usefull links bellow: </p>
        </div>

        <a href="https://github.com/pvlKryu" align="center" class="btn btn-success"> <b>GitHub</b> </a>
        <a href="https://t.me/Spas_12" align="center" class="btn btn-success"> <b>Telegram</b> </a>


    </div>
</div>
{% endblock %}