{% extends 'base.html' %}

{% block title %}
Severstal Notes


{% endblock %}

{% block body %}
<div class="notes">
    <div class="index_note note alert alert-info">
        <div class="text">
            <p align="center"><b>Welcome to "Severtal Notes"!</b></p>
            <p align="center">Try making your first note now </p>
            <p align="center">Or check the examples! </p>
        </div>

        <a href="create_note" align="center" class="btn btn-warning"> <b>Create a note</b> </a>
        <a href="notes" align="center" class="btn btn-warning"> <b>Examples</b> </a>

    </div>
</div>




{% endblock %}