{% extends 'base.html' %}

{% block title %}
Note Editing
{% endblock %}

{% block body %}
<div class="container mt-5">
    <H1 align="center">Note Editing</H1>
    <div class="note alert alert-info">

        <form method="POST">
            <p class="text"><i><b>Title:</b></i></p>
            <input type="text" name="title" id="title" class="text form-control" value="{{ note.title }}"><br>
            <p class="text"><I><b>Main text:</b></I></p>

            <textarea id="summernote" name="editordata">{{ note.text |safe }}</textarea>
            <input type="submit" class="btn btn-success" value="Edit">

            <!-- Скрипты для работы Summernote Editor -->
            <script>
                $(document).ready(function () {
                    $('#summernote').summernote();
                });
            </script>
            <!-- Выбор инструментов Summernote Editor -->
            <script>
                $('#summernote').summernote({
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['style']],
                        ['fontname', ['fontname']],
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']]
                    ]
                });
            </script>
        </form>

    </div>
</div>
{% endblock %}